@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #9e5429;
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../imgs/bibliotecas.png') no-repeat center center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

div#acima_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: 45%;
    border-bottom: 2px solid #999999;
    box-shadow: 0px 10px 15px 8px rgba(200, 180, 160, 0.600) inset;
}

div#acima_formulario > h1 {
    text-align: center;
    color: #3d200f;
    margin-bottom: 10px;
}

div#acima_formulario > div#imagem_perfile {
    background: url('../imgs/Conta_sem_perfile.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px rgba(150, 150, 150, 0.500) inset;
    filter: sepia(0.5) brightness(.95);
}

form {
    /*background-color: #dddddd;*/
    /*border: 2px solid #bbbbbb;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border-radius: 0px 0px 8px 8px;*/
    margin: 0px;
    text-align: center;
    overflow: hidden;
}

form > div.campo_form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   width: 80%;
   height: 20%;
   /*margin-bottom: 10px;*/
   padding: 15px 0px;
   margin: 0 auto;
   border-bottom: 2px solid #999999;

   /*box-shadow: 0px -10px 0px -5px rgba(240, 240, 240, 0.5) inset;*/
}

/*form > div.campo_form:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 20px 10px rgba(200, 200, 200, 1) inset;
}*/

div.campo_form > input {
    font-size: 1em;
    text-align: center;
    width: 50%;
    height: 50%;
    border: 1px solid rgba(153, 153, 153, 0.8);
    border-bottom: 2px solid #999999;
    border-radius: 2px 2px 0px 0px;
    background: transparent;
    padding: 4px;
    margin: 0 auto;
    outline: none;
    /*transform: translateY(50%);*/
}


div.campo_form > input:focus {
    background-color: #fefefe;
}

div.campo_form > label {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #3d200f;
    width: 50%;
    margin: 0 auto;
    padding: 0;
}
