<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Alunos</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<section>

    <div id = "acima_formulario">

<h1>Alunos da Biblioteca</h1>

<table>

    <tr>
        <th>Nome</th>
        <th>Numero do Aluno</th>
    </tr>

    <tr th:each="aluno : ${listaDeAlunos}">

        <td class="coluna-nome"
            th:text="${aluno.nome}">
        </td>

        <td th:text="${aluno.numeroAluno}">
        </td>

    </tr>

</table>
    </div>

    <div id ="formulario">
<h2>Novo Aluno</h2>

<form action="/alunos"
      method="post">

    <div class = "campo_form">
    <input type="text"
           name="nome"
           placeholder="Nome completo">
    </div>

    <div class = "campo_form">
    <input type="number"
           name="numeroAluno"
           placeholder="Numero do aluno">

    </div>

    <button type="submit">
        Adicionar
    </button>

</form>
    </div>
</section>

</body>
</html>