<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" th:href="@{/imgs/favicon.ico}" type="image/x-icon">

    <title>Emprestimos</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>
<header>
    <nav>
        <a class="link" href="/">Home</a>
        <a class="link" href="/alunos" >Gerir Alunos</a>
        <a class="link" href="/livros">Gerir Livros</a>
        <a class="link" href="/emprestimos">Gerir Emprestimos</a>
        <a class="link" href="/devolucoes">Gerir Devoluções</a>
        <a class="link" href="/logout">Sair</a>
    </nav>
</header>

<section>

    <div id = "acima_formulario">

<h1>Histórico de emprestimos</h1>

<table>

    <tr>
        <th>Emprestimo</th>
        <th>Nome do Livro</th>
        <th>Nome do Aluno</th>
        <th>Nome do Bibliotecário</th>
        <th>Data do Emprestimo</th>
        <th>Hora do Emprestimo</th>
        <th>Estado do Emprestimo</th>
    </tr>

    <tr th:each="emprestimo : ${listaEmprestimos}">

        <td
                th:text="${emprestimo.id}">
        </td>

        <td th:text="${emprestimo.livro.titulo}">
        </td>

        <td th:text="${emprestimo.aluno.nome}">
        </td>

        <td th:text="${emprestimo.bibliotecario.nome}">
        </td>

        <td th:text="${emprestimo.data}">
        </td>

        <td th:text="${emprestimo.hora}">
        </td>

        <td th:text="${emprestimo.estado}">
        </td>

    </tr>

</table>
        </div>

    <div id ="formulario">
<h2>Novo Emprestimo</h2>

<form action="/emprestimos"
      method="post">

    <div class = "campo_form">
    <input type="date"
           name="data"
           placeholder="Data do emprestimo">
    </div>

    <div class = "campo_form">
    <input type="time"
           name="hora"
           placeholder="Hora do emprestimo">
    </div>

    <div class = "campo_form">
    <input type="text"
           name="estado"
           placeholder="Estado do emprestimo">
    </div>

    <div class = "campo_form">
        <input type="text"
               name="bibliotecarioId"
               placeholder="Id do Bibliotecario">
    </div>

    <div class = "campo_form">
        <input type="number"
               name="alunoId"
               placeholder="Id do Aluno">
    </div>

    <div class = "campo_form">
        <input type="number"
               name="livroId"
               placeholder="Id do Livro">
    </div>

    <button type="submit">
        Adicionar
    </button>

</form>

    </div>
</section>

</body>
</html>