<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" th:href="@{/imgs/favicon.ico}" type="image/x-icon">

    <title>Biblioteca</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<div class="home-container">

    <h1>Sistema de Biblioteca</h1>

    <p>Escolhe uma opção para continuar</p>

    <div class="menu">

        <a href="/alunos">Alunos</a>
        <a href="/livros">Livros</a>
        <a href="/emprestimos">Empréstimos</a>
        <a href="/devolucoes">Devoluções</a>
        <a href="/registoBibliotecario">Bibliotecários</a>

    </div>

</div>

</body>
</html>