<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" th:href="@{/imgs/favicon.ico}" type="image/x-icon">

    <title>Livros</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>
<header>
    <nav>
        <a class="link" href="/">Home</a>
        <a class="link" href="/alunos" >Gerir Alunos</a>
        <a class="link" href="/livros">Gerir Livros</a>
        <a class="link" href="/emprestimos">Gerir Emprestimos</a>
        <a class="link" href="/devolucoes">Gerir Devoluções</a>
        <a class="link" href="/logout">Sair</a>
    </nav>
</header>

<section>

    <div id = "acima_formulario">

<h1>Livros da Biblioteca</h1>

<table border="1">

    <tr>
        <th>Título</th>
        <th>Categoria</th>
        <th>Autor</th>
        <th>ISBN</th>
        <th>Estado</th>
        <th>Estoque</th>
    </tr>

    <tr th:each="livro : ${listaDeLivros}">

        <td th:text="${livro.titulo}"></td>

        <td th:text="${livro.categoria}"></td>

        <td th:text="${livro.autor}"></td>

        <td th:text="${livro.isbn}"></td>

        <td th:text="${livro.estado}"></td>

        <td th:text="${livro.estoque}"></td>

    </tr>

</table>
    </div>

    <div id ="formulario">

<h2>Novo Livro</h2>

<form action="/livros"
      method="post">

    <div class = "campo_form">
    <input type="text"
           name="titulo"
           placeholder="Título">
    </div>

    <div class = "campo_form">
    <input type="text"
           name="categoria"
           placeholder="Categoria">
    </div>

    <div class = "campo_form">
    <input type="text"
           name="autor"
           placeholder="Autor">
    </div>

    <div class = "campo_form">
    <input type="number"
           name="isbn"
           placeholder="ISBN">
    </div>

    <div class = "campo_form">
    <input type="text"
           name="estado"
           placeholder="Estado">
    </div>

    <div class = "campo_form">
    <input type="number"
           name="estoque"
           placeholder="Estoque">
    </div>

    <button type="submit">
        Adicionar
    </button>

</form>
    </div>
</section>

</body>
</html>