<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" th:href="@{/imgs/favicon.ico}" type="image/x-icon">

    <title>Login - Sistema de Biblioteca </title>

    /*<link rel="stylesheet" th:href="@{/css/login.css}">*/
    <link rel="stylesheet" th:href="@{/css/style.css}">



</head>
<body>
    <main>
        <section>
            <div id="acima_formulario">
                <h1> Acesso ao Sistema </h1>
                <h3 th:text="${mensagem}"></h3>
                <div id="imagem_perfile"></div>
                <p th:if="${erro}"
                   th:text="${erro}"
                   class="erro"></p>
            </div>
            <div id="formulario">
                <form action="/login" method="post">

                    <div class="campo_form">
                        <input id="login_id" type="text" name="id_bibliotecario" required minlength="5" maxlength="5" placeholder="ID">
                    </div>
                    <div class="campo_form">
                        <input id="login_password" type="text" name="password" required minlength="8" maxlength="15" placeholder="Password">
                    </div>

                    <button id="button_entrar" type ="submit"> Entrar </button>
                </form>
            </div>
        </section>
    </main>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>