<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">

    <title>Login - Sistema de Biblioteca </title>

    <link rel="stylesheet" href="css/style.css">


</head>
<body>
    <main>
        <section id="login">
            <div id="acima_formulario">
                <h1> Acesso ao Sistema </h1>
                <h3 th:text="${mensagem}"></h3>
            </div>
            <div id="formulario">
                <form action="/login" method="post">

                    <div class="campo_form">
                        <label for="login_nome">Nome:</label>
                        <input id="login_nome" type="text" name="nome" maxlength="50">
                    </div>
                    <div class="campo_form">
                        <label for="login_id">ID:</label>
                        <input id="login_id" type="number" name="id" required minlength="5" maxlength="5">
                    </div>
                    <div class="campo_form">
                        <label for="login_password">Password:</label>
                        <input id="login_password" type="text" name="password" required minlength="8" maxlength="15">
                    </div>

                    <button id="button_entrar" type ="submit"> Entrar </button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>