<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login - Sistema de Biblioteca </title>
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
</head>
<body>

<h1> Acesso ao Sistema </h1>

<div id="loginContainer">
    <h3 th:text="${mensagem}"></h3>

    <table>
        <tr>
            <th>Nome</th>
        </tr>
           <tr>
               <th>ID</th>
           </tr>
           <tr>
               <th>Palavra passe</th>
        </tr>

    </table>

    <h2>Entrar</h2>




</div>
</body>
</html>