<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <link rel="shortcut icon" th:href="@{/imgs/favicon.ico}" type="image/x-icon">

  <title>Registo Bibliotecário - Sistema de Biblioteca </title>

  <link rel="stylesheet" th:href="@{/css/registo_bibliotecario.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">



</head>
<body>
<main>
  <section id="registo_bibliotecario">
    <div id="acima_formulario">
      <h1> Acesso ao Sistema </h1>
      <h3 th:text="${mensagem}"></h3>
    </div>
    <div id="formulario">
      <form action="/registoBibliotecario" method="post">

        <div class="campo_form">
          <label for="registo_bibliotecario_nome">Nome</label>
          <input id="registo_bibliotecario_nome" type="text" name="nome" maxlength="50">
        </div>
        <div class="campo_form">
          <label for="registo_bibliotecario_id">ID</label>
          <input id="registo_bibliotecario_id" type="number" name="id" required minlength="5" maxlength="5">
        </div>
        <div class="campo_form">
          <label for="registo_bibliotecario_password">Password</label>
          <input id="registo_bibliotecario_password" type="text" name="password" required minlength="8" maxlength="15">
        </div>

        <button id="button_registar" type ="submit"> Registar </button>
      </form>
    </div>
  </section>
</main>

<script th:src="@{/js/script.js}"></script>
</body>
</html>